/* Base Styles */
* {
  box-sizing: border-box;
}
body {
  background: #f5f5f5;
  font-size: 1.5em;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  color: white;
}

.grid > * {
  padding: 10px;
  border-radius: 15px;
}

header {
  background-color: #ffb366;
}

nav {
  background-color: #99ebff;
}

main {
  background-color: #ff99e6;
}

aside {
  background-color: #ff1a75;
}

footer {
  background-color: #70db70;
}

/* Grid layout */
header {
  grid-area: head;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: foot;
}
.grid {
  display: grid;
  grid-template-rows: 3fr 1fr 8fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 10px 20px;
  grid-template-areas:
    "head head head"
    "nav nav nav"
    "main main aside"
    "foot foot foot";
}

/* Media Queries */
@media (max-width: 415px) {
  .grid {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: 5px;
  }
}