/******************
    Base Styles 
******************/
* {
  box-sizing: border-box;
}
body {
  background-color: #ffe6ee;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  color: white;
}

img {
  max-width: 75%;
}

/******************
    Text Styles  
******************/
ul {
  display: flex;
  justify-content: space-around;
}

li {
  text-decoration: none;
  display: inline;
}

li a {
  color: #ffe6ee;
  text-decoration: none;
}

article {
  padding: 15px;
  text-align: left;
}

p {
  padding: 15px;
}

h1 {
  padding-top: 15px;
  color: #1a001a;
}

/******************
    Grid Styles   
******************/
.grid > * {
  padding: 10px;
}

nav {
  background-color: #1a001a;
}

main {
  background-color: #ff99e6;
  border-radius: 15px;
}

aside {
  background-color: #ff1a75;
  border-radius: 15px;
}

footer {
  font-size: 0.25em;
  color: black;
}

/******************
    Grid Layout  
******************/
header {
  grid-area: head;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: foot;
}
.grid {
  display: grid;
  grid-template-rows: 5fr 60px 4fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "head head"
    "nav nav"
    "main aside"
    "foot foot";
}

/******************
    Media Queries 
******************/
@media (max-width: 949px) {
  .grid {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    grid-template-areas:
    "head"
    "nav"
    "aside"
    "main"
    "foot";
  }

  h1 {
    font-size: 1em;
  }
}