/* Base Styles */
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  color: white;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  text-decoration: none;
  display: inline;
}

a:link a:visited a:hover a:active  {
  text-decoration: none;
  color: white;
}

article {
  padding: 15px;
  text-align: left;
}

p {
  padding: 15px;
}

.grid > * {
  padding: 10px;
  border-radius: 15px;
}

header {
  background-color: #ffb366;
}

nav {
  background-color: #99ebff;
}

main {
  background-color: #ff99e6;
}

aside {
  background-color: #ff1a75;
}

footer {
  font-size: 0.25em;
  color: black;
}

/* Grid layout */
header {
  grid-area: head;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: foot;
}
.grid {
  display: grid;
  grid-template-rows: 3fr 1fr 5fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 70px 20px;
  grid-template-areas:
    "head head"
    "nav nav"
    "main aside"
    "foot foot";
}

/* Media Queries */
@media (max-width: 415px) {
  .grid {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: 5px;
  }
}